*,
::after,
::before {
  font-size: inherit;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

ol[class],
ul[class] {
  padding: 0;
}

blockquote,
body,
dd,
dl,
figcaption,
figure,
h1,
h2,
h3,
h4,
li,
ol[class],
p,
ul[class] {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
}

ol[class],
ul[class] {
  list-style: none;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
  text-decoration-skip-ink: auto;
}

a {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

img {
  height: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

button,
input,
select,
textarea {
  font: inherit;
}

.link {
  text-decoration: none;
}

.body {
  font-family: FuturaPT-Book, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  background: #8ecae4;
}

.title {
  font-family: FuturaPT-Medium, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.link {
  cursor: pointer;
  text-decoration: none;
}

.wrapper {
  width: 100%;
  max-width: 1919.98px;
  margin: 0 auto;
  overflow: hidden;
}

.wrapper--slider {
  padding-bottom: 50px;
}

*::-moz-selection {
  color: #0e0e0e;
  background: #8ecae4;
}

*::selection {
  color: #0e0e0e;
  background: #8ecae4;
}

@font-face {
  font-family: FuturaPT-Bold;
  src: url("../fonts/FuturaPT-Bold.woff") format("woff"), url("../fonts/FuturaPT-Bold.woff2") format("woff2");
  font-weight: "normal";
  font-style: "normal";
  font-display: "swap";
}

@font-face {
  font-family: FuturaPT-Book;
  src: url("../fonts/FuturaPT-Book.woff") format("woff"), url("../fonts/FuturaPT-Book.woff2") format("woff2");
  font-weight: "normal";
  font-style: "normal";
  font-display: "swap";
}

@font-face {
  font-family: FuturaPT-ExtraBold;
  src: url("../fonts/FuturaPT-ExtraBold.woff") format("woff"), url("../fonts/FuturaPT-ExtraBold.woff2") format("woff2");
  font-weight: "normal";
  font-style: "normal";
  font-display: "swap";
}

@font-face {
  font-family: FuturaPT-Medium;
  src: url("../fonts/FuturaPT-Medium.woff") format("woff"), url("../fonts/FuturaPT-Medium.woff2") format("woff2");
  font-weight: "normal";
  font-style: "normal";
  font-display: "swap";
}

@font-face {
  font-family: icomoon;
  src: url("../fonts/icomoon.woff") format("woff"), url("fonts/icomoon.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  font-family: icomoon;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fone:before {
  content: "\e900";
}

.icon-search:before {
  content: "\e901";
}

.icon-shopping-bag:before {
  content: "\e902";
}

.icon-user:before {
  content: "\e903";
}

.icon-clock:before {
  content: "\e904";
}

.icon-calendar:before {
  content: "\e905";
}

.icon-mail:before {
  content: "\e906";
}

.icon-arrow:before {
  content: "\e907";
}

.header {
  position: fixed;
  width: 100%;
  margin: 0 auto;
  padding: 20px 80px;
  color: #ffffff;
  background: #ffffff00;
  -webkit-box-shadow: 0 0px 0px #23232333;
          box-shadow: 0 0px 0px #23232333;
  -webkit-transition: background 0.4s ease-in-out, color 0.4s ease-in-out;
  -o-transition: background 0.4s ease-in-out, color 0.4s ease-in-out;
  transition: background 0.4s ease-in-out, color 0.4s ease-in-out;
}

.header:hover {
  color: #0e0e0e;
  background: #ffffff;
  -webkit-transition: background 0.2s ease-in-out, color 0.2s ease-in-out;
  -o-transition: background 0.2s ease-in-out, color 0.2s ease-in-out;
  transition: background 0.2s ease-in-out, color 0.2s ease-in-out;
}

.header__logo--mob {
  display: none;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.header__communications {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__communication {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: inherit;
}

.header__communication:not(:first-child) {
  margin-left: 28px;
}

.header__tel {
  -ms-flex-item-align: center;
      align-self: center;
  color: inherit;
  white-space: nowrap;
}

.header__tel::before {
  font-family: icomoon;
  content: "\e902";
  margin-right: 10px;
}

.header__audition {
  color: inherit;
}

.header__audition::before {
  font-family: icomoon;
  content: "\e904";
  margin-right: 10px;
}

.header__search::before {
  font-family: icomoon;
  content: "\e910";
  margin-right: 8px;
}

.header__form_search {
  display: none;
}

.header__basket::before {
  font-family: icomoon;
  content: "\e911";
  margin-right: 8px;
}

.header__user::before {
  font-family: icomoon;
  content: "\e912";
  margin-right: 8px;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
  line-height: 100%;
}

.nav__mob_header {
  display: none;
}

.nav__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.nav__item {
  cursor: pointer;
  padding: 8px;
}

.nav__list {
  display: none;
}

@media (1279.98px) {
  .wrapper {
    padding: 0 24px;
  }
}

@media (990.98px) {
  .wrapper {
    padding: 0 12px;
  }
}